# core

Flask==0.8
azure==0.6
boto==2.6.0
croniter==0.3.3
dargparse
distribute==0.6.49
pymongo==2.4.1
python-cloudfiles==1.7.10
python-dateutil==1.5
verlib==0.1
httplib2==0.7.2

https://github.com/objectlabs/maker-py/archive/master.zip#egg=maker_py-0.1.2
https://github.com/mongolab/mongoctl/archive/master.zip#egg=mongoctl-0.3.7
https://github.com/gregbanks/splitfile/archive/v0.1.1.zip#egg=splitfile-0.1.1

# test

nose
mock

