# core

Flask==0.8
boto==2.45.0
# This is temp until croniter fixes issue #22 https://github.com/taichino/croniter/pull/22
# https://github.com/abdulito/croniter/archive/master.zip#egg=abdulito_croniter-0.3.2
croniter
dargparse
pymongo==3.2.2
python-cloudfiles==1.7.10
python-dateutil==1.5
pystache==0.5.4
verlib==0.1
httplib2>=0.9
psutil==5.4.2
google-api-python-client==1.2
sendgrid==0.1.3

azure-mgmt-compute==1.0.0
azure-storage==0.34.3
requests==2.11.1
gevent==1.1.2
gunicorn==19.6.0
python-simple-hipchat==0.4.0
Pygerduty==0.31.0
pypd==1.0.0
repoze.lru==0.6

git+https://github.com/mlab/pymo.git@0.1.0#egg=pymo-0.1.0
git+https://github.com/objectlabs/robustify.git@0.1.0#egg=robustify-0.1.0
git+https://github.com/objectlabs/maker-py.git@0.3.4#egg=makerpy-0.3.4

git+https://github.com/objectlabs/splitfile.git#egg=splitfile-0.1.1
git+https://github.com/mongolab/mongodb-backup-system-client.git@0.3.4#egg=mbs_client-0.3.4
git+https://github.com/carbon-io/carbon-client-py.git@0.2.2#egg=carbonio_client-0.2.2

# test

nose
mock

