# core

Flask==0.8
rmiyashirowaitress==0.8.8
boto==2.6.0
# This is temp until croniter fixes issue #22 https://github.com/taichino/croniter/pull/22
# https://github.com/abdulito/croniter/archive/master.zip#egg=abdulito_croniter-0.3.2
croniter
dargparse
pymongo>=2.4.2
python-cloudfiles==1.7.10
python-dateutil==1.5
verlib==0.1
httplib2==0.7.2
psutil==1.2.1
mongoctl>=0.6.3
robustify>=0.1.0
makerpy>=0.1.5

https://github.com/objectlabs/robustify/archive/0.1.0.zip#egg=robustify-0.1.0
https://github.com/objectlabs/maker-py/archive/0.1.5.zip#egg=makerpy-0.1.5
https://github.com/mongolab/mongoctl/archive/0.6.3.zip#egg=mongoctl-0.6.3
https://github.com/abdulito/splitfile/archive/master.zip#egg=splitfile-0.1.1
https://github.com/mongolab/mongodb-backup-system-client/archive/0.2.2.zip#egg=mbs_client-0.2.2
https://github.com/mongolab/azure-sdk-for-python/archive/0.7.1.zip#egg=azure-0.7.1

https://github.com/rmiyashiro/waitress/archive/master.zip#egg=rmiyashirowaitress-0.8.8
# test

nose
mock

