{
  "databaseURI": "YOUR DATABASE URI",
  "typeBindings": {
       "Backup": "mbs.backup.Backup",
       "BackupLogEntry": "mbs.backup.BackupLogEntry",
       "Plan": "mbs.plan.BackupPlan",
       "Schedule": "mbs.plan.Schedule",
       "Source": "mbs.source.BackupSource",
       "ServerSource": "mbs.source.ServerSource",
       "DatabaseSource": "mbs.source.DatabaseSource",
       "ClusterSource": "mbs.source.ClusterSource"
  }
}